@model Libros
<div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
        <img class="card-img-top" src="@Model.ImagenPreviaURL" alt="" height="250" width="150">
        <div class="card-body">
            <h4 class="card-title">@Model.NombreLibro</h4>
            <p class="card-text">@Model.PreCostoLibro.ToString("c")</p>
        </div>
        <div class="card-footer">
            <a asp-controller="Productos"
               asp-action="Detalles"
               asp-route-id="@Model.CodigoLibro">Detalles</a>
            
        </div>
    </div>
</div>
