@model usuarios
<div class="col-lg-3 col-md-6 mb-4">
    <div class="card">
        <img class="card-img-top" src="@Model.ImagenUsuarioURL" alt="" height="250" width="150">
        <div class="card-body">
            <h4 class="card-title">@Model.NombreUsuario</h4>
            <h4 class="card-text">@Model.UsernameUsuario</h4>
        </div>
        <div class="card-footer">
            <a asp-controller="usuarios"
               asp-action="Detalles"
               asp-route-id="@Model.CodigoUsuario">Detalles</a>

        </div>
    </div>
</div>
